body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0px 10px 0px 10px;
    background-color: #03072a;
    font-family: 'Poppins', sans-serif;
}

/* Main container starts here */

.Main__Container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 450px;
    width: 450px;
    min-height: 300px;
    height: 300px;
    margin: auto;
}

.Card__Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #93d3ff0f;
    background-color: rgb(25 42 255 / 6%);
    backdrop-filter: blur(6px);
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.Card__Container #Star {
    position: absolute;
    top: 35px;
    left: 35px;
    right: 0;
    bottom: 0;
}

.Card__Container #Range {
    position: absolute;
    top: 70%;
    right: 35px;
    bottom: 0;
}

.Card__Container h1 {
    position: absolute;
    top: 50%;
    left: 35px;
    right: 0;
    bottom: 0;
    color: #93d3ff;
    font-weight: 200;
}

.Card__Container p {
    position: absolute;
    top: 67%;
    letter-spacing: 0.03em;
    left: 39px;
    right: 0;
    bottom: 0;
    color: #93d3ff;
    font-weight: 200;
}

/* Main container ends here */

/* circle starts here */

#Circle__one {
    position: absolute;
    top: -50px;
    left: 53%;
    right: 0;
    bottom: 0;
    max-width: 250px;
    width: 250px;
    min-height: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #8bcffe;
}

#Circle__two {
    position: absolute;
    top: 87%;
    transform: translateY(-50%);
    left: -42px;
    right: 0;
    bottom: 0;
    max-width: 150px;
    width: 150px;
    min-height: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #364cd5;
}

/* circle ends here */

@media screen and (max-width: 668px) {
    #Circle__one {
        left: 55%;
    }
    #Circle__two {
        left: -65px;
    }
}

@media screen and (max-width: 568px) {
    body {
        padding: 0px 20px 0px 20px;
    }
    #Circle__one {
        left: 42%;
        top: -55px;
        max-width: 200px;
        width: 200px;
        min-height: 200px;
        height: 200px;
    }
    #Circle__two {
        left: -18px;
    }
}